Tugas-7 Keuangan.json
{
  "name": "Tugas-7 Keuangan",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the sentiment of the following tweet. Respond ONLY with ONE word: 'Positive', 'Negative', or 'Neutral'.\n\nTweet:\n{{ $json.text }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        528,
        -464
      ],
      "id": "c5dc810c-8895-4fdf-9973-a04791393a82",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        -304
      ],
      "id": "55195230-3d27-465f-9561-50ea52445fb2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FC7NtHGWCk1hggqM",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        112,
        -464
      ],
      "id": "25aa1dcd-b30c-4a9a-b35b-c928a0337c29",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1136,
        -480
      ],
      "id": "5b8fc9f1-58d5-4890-9968-d3674a09bdb1",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rAfoxu2_SDapIJlJaxwKF9XgN6jMqyKa7mhOQzDhnIk",
          "mode": "list",
          "cachedResultName": "Copy of $BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rAfoxu2_SDapIJlJaxwKF9XgN6jMqyKa7mhOQzDhnIk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rAfoxu2_SDapIJlJaxwKF9XgN6jMqyKa7mhOQzDhnIk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        -480
      ],
      "id": "84b8adce-1888-485b-842a-81b1e55f231a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wunpPXtygrSdKaP2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gunakan $input.all() untuk mengambil semua item dari node sebelumnya\nconst items = $input.all();\n\nlet positive = 0;\nlet negative = 0;\nlet neutral = 0;\nlet total = 0;\n\n// Loop melalui setiap baris\nfor (const item of items) {\n  const sentiment = item.json.Sentiment;\n\n  if (sentiment === 'Positive') {\n    positive++;\n  } else if (sentiment === 'Negative') {\n    negative++;\n  } else if (sentiment === 'Neutral') {\n    neutral++;\n  }\n}\n\ntotal = items.length;\n\n// Kembalikan hasil perhitungan\nreturn [{\n  json: {\n    total_tweets: total,\n    sentimen_positif: positive,\n    sentimen_negatif: negative,\n    sentimen_netral: neutral\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        -480
      ],
      "id": "3ce797ed-be55-4443-8f02-2aa4935744da",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis sentimen media sosial.\nTuliskan kesimpulan singkat (dalam bahasa Indonesia) untuk laporan Telegram, berdasarkan data berikut:\n\n- Total Tweet Dianalisis: {{ $json.total_tweets }}\n- Sentimen Positif: {{ $json.sentimen_positif }}\n- Sentimen Negatif: {{ $json.sentimen_negatif }}\n- Sentimen Netral: {{ $json.sentimen_netral }}\n\nBerikan ringkasan singkat tentang apa arti angka-angka ini (misalnya, \"Sentimen hari ini cenderung positif,\" \"Ada banyak keraguan di pasar,\" dll.).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1728,
        -480
      ],
      "id": "4a7eafd3-af5b-44ea-9e4a-a2d5fd2bb4d5",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "chatId": "8472035315",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        -480
      ],
      "id": "0608408c-d589-4cfe-b357-02de3b65767d",
      "name": "Send a text message",
      "webhookId": "42ddc80d-06a8-48eb-aa2e-e9cbe85b4f10",
      "credentials": {
        "telegramApi": {
          "id": "fs31ML9785MEzwkZ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1728,
        -304
      ],
      "id": "5fef215a-ed03-4f1e-bee6-007c3c6869ad",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "FC7NtHGWCk1hggqM",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff3fea29-c556-41cc-90aa-d25e95e84397",
              "name": "text",
              "value": "={\n  \"BTC\": {\n    \"total\": 90,\n    \"bullish\": 33,\n    \"bearish\": 31,\n    \"neutral\": 26,\n    \"avg_compound\": 0.0039,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T03:31:56.582085\"\n  },\n  \"ETH\": {\n    \"total\": 77,\n    \"bullish\": 31,\n    \"bearish\": 33,\n    \"neutral\": 13,\n    \"avg_compound\": -0.042,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T03:31:56.582635\"\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -464
      ],
      "id": "d6165052-4be5-4832-b5fd-288ab840bbb3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rAfoxu2_SDapIJlJaxwKF9XgN6jMqyKa7mhOQzDhnIk",
          "mode": "list",
          "cachedResultName": "Copy of $BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rAfoxu2_SDapIJlJaxwKF9XgN6jMqyKa7mhOQzDhnIk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rAfoxu2_SDapIJlJaxwKF9XgN6jMqyKa7mhOQzDhnIk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sentiment": "={{ $json.text }}",
            "Timestamp": "={{ $('Schedule Trigger').item.json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -464
      ],
      "id": "aa837cd8-cf28-44e5-90e5-15335e50a411",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wunpPXtygrSdKaP2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5c0f4a9b-f327-4126-b772-a38edb493552",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e0059b7e75d112fe28409c727a4452fbe4a9c02ef0a35c983f8267d254cbb6a"
  },
  "id": "Jcp2UBaZBUC48LiP",
  "tags": []
}