Tugas-3 AI Pemasaran.json
{
  "name": "Tugas-3 AI Pemasaran",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1184,
        144
      ],
      "id": "e7a69879-051f-4a50-bc75-ba2da352728c",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mEEDa15spM9f7kHr_rl-wjk1qka8489erbj6E10JPiE",
          "mode": "list",
          "cachedResultName": "Copy of Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mEEDa15spM9f7kHr_rl-wjk1qka8489erbj6E10JPiE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mEEDa15spM9f7kHr_rl-wjk1qka8489erbj6E10JPiE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        144
      ],
      "id": "b9312f1e-f470-4899-84a3-7f4a812221a5",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wunpPXtygrSdKaP2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  const dateStr = row['Scheduled Date']; // Format: 11/02/2026\n  const timeStr = row['Scheduled Time']; // Format: 9:30:00\n  const status = row['Status'];\n\n  // Tangani status kosong ATAU 'Pending'\n  const isPending = !status || status.trim() === '' || status.trim() === 'Pending';\n\n  if (isPending && dateStr && timeStr) {\n\n    // FIX: Balik DD/MM/YYYY → YYYY-MM-DD agar valid ISO\n    const [day, month, year] = dateStr.split('/');\n    const formattedDate = `${year}-${month.padStart(2,'0')}-${day.padStart(2,'0')}`;\n\n    // FIX: Pastikan jam pakai 2 digit (9:30:00 → 09:30:00)\n    const timeParts = timeStr.split(':');\n    const formattedTime = timeParts.map(p => p.padStart(2, '0')).join(':');\n\n    const dateTimeString = `${formattedDate}T${formattedTime}`;\n    const scheduledTime = DateTime.fromISO(dateTimeString, { zone: 'Asia/Jakarta' });\n\n    if (scheduledTime.isValid && scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        144
      ],
      "id": "9765c73a-ad86-4fb3-a9c4-004332267426",
      "name": "Code in JavaScript1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "8472035315",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        144
      ],
      "id": "74fe2c69-c86c-401d-ad4b-0c36d5f05f59",
      "name": "Send a text message1",
      "webhookId": "93793aa0-05eb-4ce6-9693-697bb69f24ec",
      "credentials": {
        "telegramApi": {
          "id": "fs31ML9785MEzwkZ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a4e6b47-54b6-47c1-93fd-5155a7efda4e",
              "name": "row_number",
              "value": "={{ $('Code in JavaScript1').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        144
      ],
      "id": "8cb4acdc-e8c2-4a0d-8ef8-b216f018fedc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mEEDa15spM9f7kHr_rl-wjk1qka8489erbj6E10JPiE",
          "mode": "list",
          "cachedResultName": "Copy of Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mEEDa15spM9f7kHr_rl-wjk1qka8489erbj6E10JPiE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mEEDa15spM9f7kHr_rl-wjk1qka8489erbj6E10JPiE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Code in JavaScript1').item.json.ID }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2224,
        144
      ],
      "id": "45cad5e9-0dab-47e6-a58f-517b1d1471f8",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wunpPXtygrSdKaP2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9cd438a5-55b6-44d9-a848-e666eb1a3149",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e0059b7e75d112fe28409c727a4452fbe4a9c02ef0a35c983f8267d254cbb6a"
  },
  "id": "p0BZBLSkFLfjKS9d",
  "tags": []
}