Tugas1p6 Keuangan.json
{
  "name": "Tugas1p6 Keuangan",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        176
      ],
      "id": "797469dc-4112-45c3-8574-575a2e5527f6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "kqoZT5affrLEeZUw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fec0d7f2-20e2-41e7-bbe0-b0978274a1b3",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcainsurance.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "21cf4d00-991d-4b95-b6c3-7a4cca8faae8",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblu@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "438e3543-e4c5-4e95-a513-fa7fc50af350",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a904adca-3194-460d-b055-3c78e23f515f",
              "leftValue": "={{ $json.From }}",
              "rightValue": "recruitmentbcaf@bcaf.id",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        176
      ],
      "id": "2dd39537-d00e-462c-8ca7-f294fdad78fa",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8472035315",
        "text": "=Ada email baru dari: {{ $node[\"Gmail Trigger\"].json[\"from\"] }} Subject: {{ $node[\"Gmail Trigger\"].json[\"subject\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "338cd3c0-5227-466e-bcaa-9a6a6c1275db",
      "name": "Reminder Email dari Allowilst",
      "webhookId": "91c76632-14ac-4feb-9cf0-7ed666a9fd03",
      "credentials": {
        "telegramApi": {
          "id": "nsj6IA1ypKqPjU9n",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. Fokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10. Jawab HANYA dengan format: 'Skor: [angka]'.\\n\\nEmail:{{ $json.snippet }}  Subject:{{ $json.Subject }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        64,
        192
      ],
      "id": "df15f514-806f-4a77-abe2-2c07c8a7691b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari node-node sebelumnya\n// $json.text adalah output dari Basic LLM Chain\nconst llmOutput = $json.text; \n\n// $json.id adalah Message ID yang datang dari \"Gmail Trigger\"\n// Node LLM Chain akan meneruskan data ini secara otomatis\nconst emailMessageId = $json.id; \n\n// Gunakan regex untuk menemukan \"Skor: [angka]\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        192
      ],
      "id": "3d54befc-c433-4faf-90e2-9a40c7675919",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5d1df33-1da7-4c86-88f0-1e64acf012a0",
              "leftValue": "={{ $json.score }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        192
      ],
      "id": "a48e0277-c4e6-482b-9483-1b783b555606",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": " 8472035315",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.   - Skor AI: {{ $json.score }}/10  - Dari: {{ $('Gmail Trigger').item.json.From }} - Subjek: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        272
      ],
      "id": "1d91f224-815e-4300-9510-6ac7c80c4293",
      "name": "Send a text message",
      "webhookId": "8c295ee4-8a44-40e9-9330-769b8a74581f",
      "credentials": {
        "telegramApi": {
          "id": "fs31ML9785MEzwkZ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        336
      ],
      "id": "f53c333b-f58a-468f-ac64-8dd5da1dfeb2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FC7NtHGWCk1hggqM",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8104920328006953381"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        64
      ],
      "id": "4c952d77-4a0f-4b27-a1c6-b782ba95f97c",
      "name": "Add label to message",
      "webhookId": "272cfb1c-03f8-4fb9-aa85-abcf17479fdb",
      "credentials": {
        "gmailOAuth2": {
          "id": "kqoZT5affrLEeZUw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowilst",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a7c05863-661d-426f-bfd4-76bb7ed4812e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e0059b7e75d112fe28409c727a4452fbe4a9c02ef0a35c983f8267d254cbb6a"
  },
  "id": "X4Wq3hI5RBYXZfOi",
  "tags": []
}